{% extends 'base.html' %}
{% load static %}

{% block extraheadtable %}
    <link href="{% static "theme/plugins/material-preloader/css/materialPreloader.min.css" %}" rel="stylesheet">
    <link href="{% static "theme/plugins/datatables/css/jquery.dataTables.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Listagem de propostas</span>
                    <table id="example" class="display responsive-table datatable-example">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Valor</th>
                                <th>Status</th>
                                {% if user.is_empresa %}
                                <th>Ações</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Titulo</th>
                                <th>Valor</th>
                                <th>Status</th>
                                {% if user.is_empresa %}
                                <th>Ações</th>
                                {% endif %}
                                
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for proposta in object_list %}
                                <tr>
                                    <td>{{ proposta.ordem_servico.titulo }}</td>
                                    <td>{{ proposta.valor }}</td>
                                    <td>{{ proposta.get_status_display }}</td>
                                    <td>
                                        {% if user.is_empresa %}
                                            <a class="btn-floating waves-effect waves-light green" data-toggle="tooltip" title="Aceitar proposta" href="{% url 'proposta_aceita' proposta.id %}"><i class="material-icons">thumb_up</i></a>
                                            <a class="btn-floating waves-effect waves-light red" data-toggle="tooltip" title="Recusar proposta" href="{% url 'proposta_recusada' proposta.id %}"><i class="material-icons">thumb_down</i></a>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block extrajs %}

    <script src="{% static "theme/js/alpha.js" %}"></script>
    <script src="{% static "theme/js/pages/table-data.js" %}"></script>
    <script src="{% static "theme/plugins/datatables/js/jquery.dataTables.min.js" %}"></script>

{% endblock %}
